body 
{
    background-color:#DCDCDC;
}
.TituloPrincipal
{
    font-familY:Comic Sans MS;
    font-size: 30px;
    text-align: center;
    background-color: #BC8F8F;
}
 
.TituloSecundario  
{
   font-family: Arial;
   font-size: 20px;
   text-align: center;
   background-color: Green;
   color:Black;
    
}

.TituloUsuario
{
   font-family: Arial;
   font-size: 13px;
   text-align: right;
    
}